language: python
cache: pip
matrix:
    include:
        - python: 2.7
          env: TOXENV=flake8
        - python: 2.7
          env: TOXENV=py27
        - python: 2.7
          env: TOXENV=py27_cython
        - python: 3.4
          env: TOXENV=py34
        - python: 3.4
          env: TOXENV=py34_cython
        - python: 3.5
          env: TOXENV=py35
        - python: 3.5
          env: TOXENV=py35_cython
before_install:
  - pip install pip -U
  - pip install coveralls
install:
  - pip install tox
script:
  - tox
after_success:
  - coverage combine .coverage_data
  - coveralls